<div class="track-list">
  <div class="collection-details">
    <img src="/assets/images/default-img.jpg" class="collection-image">
    <div class="collection-name">{{collection.displayedName}}</div>
    <a class="collection-author" href="#">{{collection.author}}</a>
  </div>
  <div class="tracks">
    <a class="track-item" *ngFor="let track of collection.tracks" href="#">
      <div class="track-details">
        <div class="track-name">{{track.name}}</div>
        <div class="track-artists">
          <a *ngFor="let artist of track.artists" href="#" class="track-artist">{{artist.name}}</a>
        </div>
      </div>
      <div class="track-duration">{{convertSecondToMinute(track.duration)}}</div>
    </a>
  </div>
</div>
