@white: #ffff;
.playlist-container {
  padding: 8px 24px;

  .sub-menu-container {
    list-style: none;

    .sub-menu-item {
      display: inline-block;

      .sub-menu {
        margin: 0 8px 0 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        color: #fff;
        position: relative;
        border: 0;
        display: inline-block;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
        margin: 0 8px;

        &:hover,
        &:active {
          background-color: #333;
        }
      }
    }
  }

  .playlist-list {
    color: @white;
    height: 450px;
    overflow-y: auto;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    grid-auto-rows: 1fr;

    .playlist-item {
      padding: 20px 20px 16px;
      margin: 8px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      font-weight: bold;
      background-color: #1b1b1b;
      height: 200px;

      .collection-image {
        height: 130px;
      }

      .collection-name {
        margin-top: 8px;
      }

      .collection-author {
        color: @white;
        opacity: 0.6;
        -webkit-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        text-decoration: none;
        font-size: 13px;
      }
    }
  }
}
