<div class="playlist-container">
  <button [routerLink]="['/collection/playlists']">Playlists</button>
  <button [routerLink]="['/collection/artists']">Artists</button>

  <div class="playlist-list">
    <a class="playlist-item" *ngFor="let collection of collections">
      <img [src]="collection._coverImageURL" class="collection-image">
      <div class="collection-name">{{collection.displayedName}}</div>
      <a class="collection-author" href="#">{{collection.author}}</a>
    </a>
  </div>
</div>
