<div class="main-container">

  <div class="content-box">
    <div class="side-bar">
      <app-side-bar></app-side-bar>
    </div>

    <div class="main-view">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="now-playing-bar">Now Playing Bar</div>

</div>

<div class="overlay-wrapper" [class.isOpen]="isOverlayOpen">
  <div class="overlay-container">
    <div class="close-overlay" (click)="closeOverlay()">
      <i class="fa fa-close"></i>
    </div>
    <div id="text">Create a new playlist</div>  
    <div class="input-box">
      <div class="content-spacing">
        <h4 class="input-box-label">Playlist Name</h4>
        <input type="text" class="input-box-input" placeholder="New playlist..." value="">
      </div>
    </div>
    <div>
      <button (click)="closeOverlay()">Cancel</button>
      <button>Create</button>
    </div>
  </div>
</div>
